footer {
  background: #fff;
  padding:48px 0 48px;

  @include screenS {
    margin: 0;
  }
}
.footer-text {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 16px;

  @include screenS {
    background-color: #0c0c0c;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    flex-direction: column;
    margin-top: 16px;
    padding: 16px;
  }
}
