header {
  background-color: $main;
  padding: 20px 0;
  width: 100%;
  @include screenM {
    padding: 16px 0;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 184px;
  color: #ffe900;
  font-size: 24px;
  font-family: $secondFont;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  &:hover{
    color:#ffe900;
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  width: 884px;
  @include screenXL {
    width: 56px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include screenXL {
      display: none;
    }
    &:nth-child(4) {
      background-color: $btn;
      border-radius: 8px;
      width: 208px;
    }
    &-icon {
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      &:last-child {
        background-color: $btn;
      }
    }
  }
}


.header-menu__item-text {
  margin-left: 8px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $mainFont;
  font-size: 14px;
  color: #fff;

  &-title {

  }
  &-subtitle {
    opacity: 0.5;
  }
  &:hover{
    color:#fff;
  }
}

.header-menu__burger {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 56px;
  border: 1px solid #205ce1;
  border-radius: 8px;
  span {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: all 0.5s;
    background-color: #fff;
  }
  span:nth-of-type(2) {
    top: calc(50% + 3px);
  }
}
