.front__page{
  .main{
    background: $main;
  }
  footer {
    background: $main;
    * {
      color: #fff;
    }
  }
}

.promo-section{
  height:992px;

  &__title{
    font-size:86px;
    line-height: 88px;
    color:#fff;
    font-family:$secondFont;
    padding:64px 0;
    position: relative;
    z-index: 50;

    strong{
      color:$sec;
    }
  }

  &__img{
    position: absolute;
    display: block;
    right:0;
    top:0;
  }
}

.about-section{
  display:flex;
  color:#fff;
  justify-content: space-between;

  &-col{
    width:100%;
    max-width: 590px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    .about-section__text{
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      text-align: left;
      max-width:440px;
    }
    .about-section__btn{
      .ico {
        width: 60px;
        height:60px;
      }
    }
  }
  &-col-stat{
    width:100%;
    //max-width:842px;

    &__item{
      width:calc(50% - 8px);
      border-radius:16px;
      padding:24px;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      border:1px solid transparent;
      position: relative;

      .about-stat-item__number{
        font-size: 32px;
        font-family: $secondFont;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        z-index: 50;

        strong{
          display:block;
          font-size: 96px;
          line-height: 88px;
        }
      }
      .about-stat-item__note{
        font-size:20px;
        line-height: 28px;
        z-index: 50;
      }
      .about-stat-item__image{
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        overflow: hidden;
        border-radius:16px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);

        img{
          object-fit: cover;
          width:100%;
          height:100%;
        }
      }

      &._small-block{
        //width:370px;
        height:348px;
        margin-right:8px;

        &:last-child{
          margin-top:8px;
        }
      }
      &._big-block{
        //width:464px;
        height:704px;
        background: $linkColor;
        //margin-left:8px;

      }
      &._bordered{
        border-color:$linkColor;
      }
    }
  }
}

.catalog-section{
  margin-top:26px;

  &-item{
    width:25%;
    padding:0 4px;
    margin-top:8px;

    &:hover{
      .catalog-item__wrapper{
        border-color:$linkColor;
        background: transparent;
      }
    }

    .catalog-item__wrapper{
      background: rgba(255, 255, 255, 0.10);
      border-radius: 12px;
      padding:$padding;
      border:1px solid transparent;
      transition: $cubic;

      .catalog-item__title{
        color:#fff;
        font-size:24px;
        font-weight:600;
        line-height: 32px;
      }
      .catalog-item__menu{

        li{
          margin-top:8px;
        }
        a{
          color:$grey;
        }
      }
    }
  }
}

.production-section{

  &-item{
    height:704px;
    position: relative;

    .production-item__description{
      position: absolute;
      bottom:16px;
      left:16px;
      background: $main;
      z-index: 50;
      color:#fff;
      border-radius: 16px;
      padding:16px;
      font-size: 20px;
      line-height: 28px;
      padding-right:20%;
      width:60%;
    }

    .production-item__image{
      border-radius:24px;
      position: absolute;
      top:0;
      left:0;
      overflow: hidden;
      height:100%;

      img {
        object-fit: cover;
        width: 100%;
        //height: 100%;
      }

    }
  }
}

.services-section{
  display:flex;
  flex-wrap:wrap;
  margin:0 -4px;
  margin-top:24px;

  &-item{
    width:33.33%;
    padding:0 4px;
    margin-bottom:8px;

    .services-item__wrapper{
      padding:$padding;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.10);
      border:1px solid transparent;
      color:#fff;
      height:364px;
      transition: $cubic;
      position: relative;

      &:hover{
        color:#fff;
        background: transparent;
        border-color:$linkColor;

        &:after{
          content: '';
          position: absolute;
          bottom:8px;
          right:8px;
          width:60px;
          height:60px;
          background: url('../img/services-btn.svg') center center no-repeat;
        }
      }


    }

    .services-item__title{
      font-size: 24px;
      font-family: $secondFont;
      line-height: 32px;
      text-transform: uppercase;
    }
    .services-item__description{
      color:$grey;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.contacts-section{

  .contacts-section-info{
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;

    .contacts-info__phone{
      color:#fff;
    }
    .contacts-info__email{
      color:$linkColor;
    }
  }

  .contacts-section-form{
    padding-top:$padding;
    display:flex;
    flex-wrap: wrap;
    margin:0 -4px;

    .contacts-form-side{
      width:50%;
      padding:0 4px;

      input[type=text],
      textarea{
        border-radius: 8px;
        padding:38px 40px;
        background: #FFFFFF1A;
        width:100%;
        color:#fff;
        height: auto;
        margin-bottom:8px;
      }
      textarea{
        height:200px;
      }
    }
    button[type=submit]{
      margin-left:4px;
      margin-right:4px;
      width:100%;
      border-radius: 8px;
      background: $linkColor;
      padding:$padding 20px;
      font-size: 56px;
      font-weight: 500;
      line-height: 64px;
      color:#fff;
    }
  }
}
