.product__page{
  .main{
    background: #fff;
  }
}

.card-navigation {
  display: flex;
  justify-content: space-between;
  max-width: 351px;
  .card-navigation__item {
    color: $grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    @include screenS {
      font-size: 14px;
    }
  }
}

.card-page {
  padding-top: 36px;
  width: 100%;
  //min-height: 1144px;
  display: flex;
  justify-content: space-between;

  @include screenS {
    width: 343px;
    flex-direction: column;
  }
}

.card-page__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:50%;
  max-width:748px;

  @include screenXL {
    justify-content: start;
    align-items: start;
  }
  .card-page__img-main {

    img {
      width: 100%;
      border-radius: 5px;
      vertical-align: bottom;

      /*@include screenXL {
        width: 500px;
      }
      @include screenS {
        width: 343px;
      }*/
    }
  }
  .card-page__img-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin:8px 0 0;

    & > div {
      width: calc(50% - 4px);
      margin:0 8px 8px 0;

      &:nth-child(even){
        margin-right:0;
      }

      img{
        width: 100%;
        vertical-align: bottom;
        border-radius: 5px;
      }
    }
  }
}

.card-page__info {
  //padding: 0 64px;
  width:calc(50% - 72px);
  //max-width:748px;

  @include screenS {
    //padding: 0 16px;
  }
}

.card-page__info-title {
  color:$main;
  font-size: 40px;
  font-family: $secondFont;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  @include screenS {
    font-size: 16px;
    line-height: 24px;
  }
}

.card-page__info-number {
  color: $main;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
  margin-top: 8px;
  @include screenS {
    font-size: 12px;
    line-height: 16px;
  }
}

.card-page__info-btn {
  margin: 0 auto;
  margin-top: 32px;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 88px;
  background: $sec;
  text-align: center;
  color: var(--body-bg, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  a:hover {
    color: #fff;
  }
  @include screenS {
    height: 64px;
  }
}

.card-page__info-descr {
  margin-top: 32px;
  color: $main;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  @include screenS {
    font-size: 16px;
    margin-top: 16px;
    line-height: 24px;
  }
}

.card-page__info-prop{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: $main;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: 56px;

  @include screenS {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
  }

  .card-page__info-item{
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor:pointer;
    padding:24px 0;
    border-top:1px solid $bg;

    &:last-child{
      border-bottom:1px solid $bg;
    }
  }
}


.similar__section {
  background: $bg;
  padding-top:32px;
  padding-bottom:32px;

  @include screenXL {
    padding-top: 16px;
    padding-bottom:16px;
  }

  .similar {
    width: 100%;
  }

  .similar-title {
    color: $sec;
    font-size: 40px;
    font-family:$secondFont;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    @include screenS {
      font-size: 20px;
      line-height: 32px;
    }
  }

  .similar-goods {
    margin:176px -4px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    @include screenXL {
      margin-top: 54px;
    }
    @include screenS {
      margin-top: 24px;
    }

    .col{

      width:33.33%;
      padding:0 4px;
    }

    &__item {
      background: #fff;
      border-radius: 5px;
      padding:8px;
      display: inline-block;

      //margin:0 4px;

      img {
        border-radius: 5px;
        width: 100%;
        @include screenS {
          width: 275px;
        }
      }
    }

    &__item-title {
      color: $main;
      font-size: 24px;
      line-height: 32px;
    }

    &__item-number {
      color: $grey;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

