.section + .section{
  padding-bottom:$padding;
}
.section__title{
  color: #fff;
  font-size: 80px;
  font-family: $secondFont;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  text-transform: uppercase;
  padding-bottom:104px;
  padding-top:$padding;
}
.section-bordered{
  border:1px solid $linkColor;
  border-radius: 24px;
  padding:$padding;

  .section__title{
    padding-top:0;
  }
}
