@font-face {
  font-family: "Druk Wide Cyr";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/DrukWideCy-Bold.woff2") format("woff2"),
    url("../fonts/DrukWideCy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Golos";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/golos-text_regular.woff2") format("woff2"),
    url("../fonts/golos-text_regular.woff") format("woff");
}
