// Font
$mainFont: 'Golos', Helvetica, Arial, sans-serif;
$secondFont: 'Druk Wide Cyr', Helvetica, Arial, sans-serif;
$mainFontSize: 1.6rem;
$mainFontWeight: 300;
$mainLineHeight: 1.4; //

//Colors
$main: #0C0C0C;
$sec: #205CE1;
$btn: #0072BC;
$bg: #E4E4E4;
$linkColor:#205CE1;
$grey: #9B9B9B;

//Screen
$screenXS: 0;
$screenS: 576px;
$screenM: 766px;
$screenL: 1023px;
$screenXL: 1199px;
$screenXXL: 1440px;
$mobileWidth: 577px;
$portraitTabletWidth: 767px;
$landscapeTabletWidth: 1024px;
$desktopWidth: 1200px;
$wideDesktopWidth: 1441px;
$cubic: var(--cub);

//Sizes
$padding: 32px;
