// Font
$mainFont: 'museo-sans', Helvetica, Arial, sans-serif;
$secondFont: 'Nekst', Helvetica, Arial, sans-serif;
$mainFontSize: 1.6rem;
$mainFontWeight: 300;
$mainLineHeight: 1.4; //
//Colors
$main: #1F232E;
$sec: #0072BC;
$red: #E50149;
$btn: #0072BC; //
//Screen
$screenXS: 0;
$screenS: 576px;
$screenM: 766px;
$screenL: 1023px;
$screenXL: 1199px;
$screenXXL: 1440px;
$mobileWidth: 577px;
$portraitTabletWidth: 767px;
$landscapeTabletWidth: 1024px;
$desktopWidth: 1200px;
$wideDesktopWidth: 1441px;
$cubic: var(--cub);