extends ../layout/main

block variables
  - var title = 'Главная';
  - var description = 'Описание';


block content
  section.section
    .container
      ul(style="margin: 120px 0; color: #000")
        li: a(href="index-main.html") Главная
        li: a(href="product.html") Карточка товара


