a {
    color: inherit;
    text-decoration: none;
}

.breadcrumbs-section{
    display:inline-block;
    @media (max-width: 768px) {
        width: 100vw;
    }
    width: 1600px;
}

.breadcrumbs {
    color: #9B9B9B;
    margin-bottom: 16px;
    @media (max-width: 768px) {
        padding-left: 16px;
    }
}

span a:hover{
    color: #205CE1;
}

.breadcrumbs span:not(:last-child)::after {
    content: '/';
    margin: 0 16px;
}
