@font-face {
    font-family: 'Druk Wide Cy';
    src: url('fonts/DrukWideCy-Bold.woff2') format('woff2'),
        url('fonts/DrukWideCy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    
    font-display: swap;
}



.content-container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;

    
}

.card{
    display: flex;
    width: 1600px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (max-width: 768px) {
        justify-content: center;

        position: relative;
    }
    
}

.big-image {
    width: 748px;
    height: 562px;
    @media (max-width: 768px) {
        width: 100%;
        height: auto;
    }
    
    margin-bottom: 8px;

}

.small-images {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.small-image {
    width: calc(50% - px); /* Разделите ширину на две колонки и учтите внешние отступы */
    margin-bottom: 8px;
    @media (max-width: 768px) {
        display: none;
    }
}

.product-title {
    font-family: Druk Wide Cy;
    font-size: 40px;
    @media (max-width: 768px) {
        font-size: 16px;
        margin-left: auto;
    }
    text-transform: uppercase;
    margin: 0;
}

.product-articul {
    opacity: .5;
}

.price-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background-color: #205CE1;
    color: white;
    width: 100%;
    border-radius: 88px;
    height: 80px;
    text-decoration: none;
    text-align: center;
    margin: 32px 0;
    @media (max-width: 768px) {
        padding: 0;
        margin: 16px 0;
    }
}

.product-description {
    font-size: 20px;
    line-height: 28px;
    text-transform:none;
    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.content {
    padding: 0 64px;
    @media (max-width: 768px) {
        padding: 0px;

    }
}

.content-list {
    list-style-type: none;
    margin: 32px 0;
    padding:0;
}

.content-list li{
    font-size: 20px;
    font-weight: 600;
    font-family: Golos Reg;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid  #E4E4E4;
    @media (max-width: 768px) {
        padding: 16px 0;
        font-size: 16px;
    }
    
}

.details-window {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease, opacity 0.3s ease;
  }
  
  .animate-details {
    max-height:fit-content;
    opacity: 1;
  }
  
  .animate-complite {
    max-height: fit-content;
    opacity: 1;
  }

.next, .pred {
    display: none;
    width: 24px;
    height: auto;
    @media (max-width: 768px) {
        display: inline-block;
        position: absolute;
        cursor: pointer;
    }
}

.next{
    @media (max-width: 768px) {
        right: 12px;
        bottom: 12px;
    }
}

.pred{
    @media (max-width: 768px) {
        right: 40px;
        bottom:12px;
    }
}

  