@font-face {
    font-family: 'Druk Wide Cy';
    src: url('../fonts/DrukWideCy-Bold.woff2') format('woff2'),
        url('../fonts/DrukWideCy-Bold.woff') format('woff');
    
}


.section-similar{
    background-color: #E4E4E4;
    margin-top: 32px;
    padding: 0;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    @media (max-width: 768px) {
        margin-top: 0;
    }
}

.prod-container{
    width: 100vw;
    display: block;
}

.title{
    color: var(--link-color, #205CE1);
    font-size: 40px;
    font-family: 'Druk Wide Cy';
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 32px;

    @media (max-width: 768px) {
        margin-top: 16px;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0;
    }
    
}

.section-title{
    height: 224px;
    @media (max-width: 768px) {
        height: auto;
    }
}

.other-prods{
    display: flex;
    margin: 32px 0;
}

.similar-container{
    width: 1600px;
    @media (max-width: 768px) {
        width: auto;
    }
}