.name{
    text-transform: none;
    font-size: 24px;
    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.artikl{
    opacity: .5;
    font-size: 16px;
    @media (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
    }
}

.mini-card-container {
    cursor: pointer;
    display: flex;
    padding: 8px 8px 32px 8px;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px;
    background: #FFF;
    width: 100%;
    max-width: 480px; 
    margin-right: auto;
}

@media (max-width: 768px) {
    .mini-card-container {
        width: 100%; 
        max-width: 291px; 
        height: auto;
    }
}

.info{
    padding: 0 16px;
}

.mini-card-container img {
    height: 324px;
    @media (max-width: 768px) {
        height: 206px;
    }
}