*,
*:after,
*:before {
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100vh;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	flex: auto;
}

.container {
	width: 100%;
	flex: 0 0 auto;
	position: relative;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1600px;
	@media only screen and (min-width: 360px) {
		padding-left: 16px;
		padding-right: 16px;
	}
	@include min_screenS {
		padding-left: 30px;
		padding-right: 30px;
	}
	@include min_screenM {
		padding-left: 32px;
		padding-right: 32px;
	}
}

:root {
	--cub: 0.22s cubic-bezier(0.48, 0.48, 0.48, 0.86);
}

body {
	font-family: $mainFont;
	font-size: 16px;
	line-height: 140%;
	font-weight: 500;
	margin: 0;
	color: $main;
}



.main {
	padding-top: 36px;
	width: 100%;
	background: $bg;
}

*:focus {
	outline-color: $main;
}

* {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
p {
	color: inherit;
	text-decoration: none;
}

a {
	transition: $cubic;
}

p:last-child {
	margin-bottom: 0;
}

a {
	cursor: pointer;
}

a.active {
	color: #0841B4;
}

a:hover {
	text-decoration: none;
	color: $sec;
}

a:active {
	color: #0841B4;
	text-shadow: none;
}

[data-input="mouse"] *:focus {
	outline: none;
}

button {
	background: 0;
	border: 0;
	cursor: pointer;
	font-weight: 500;
	transition: $cubic;
}

ol {
	list-style: decimal;
	padding-left: 18px;

	li {
		list-style: decimal;
	}
}

blockquote {
	font-style: italic;
}

img {
	user-select: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

*[hidden] {
	display: none !important;
}

p {
	margin-top: 0;
	display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

[disabled] {
	pointer-events: none;
	opacity: 0.2;
	user-select: none;
}

.swiper-slide {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}

.swiper-wrapper {
	-webkit-transform-style: preserve-3d;
}

input,
textarea {
	-webkit-appearance: unset;
	border: 0;
	background: 0;
	box-shadow: none;
}

input[type=search]::-webkit-search-cancel-button {
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
	background-size: 24px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 0 0 0 10px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDZMNiAxOCIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNiA2TDE4IDE4IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
}

.flex-center,
.img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.link {
	text-decoration: underline;

	&--red {
		color: $sec;
	}
}

.hide {
	display: none!important;
}

.visible-XL {
	@include screenXL {
		display: block!important;
	}
}

.hide-XL {
	@include screenXL {
		display: none!important;
	}
}

[data-fancybox] {
	cursor: url(../img/zoom-in.png), pointer;
	-webkit-image-set: url("../img/zoom-in.png") 1x, url("../assets/img/zoom-in@2x.png") 2x, pointer;
}
