header
    .container
        .header-wrapper

            .header-logo Золотой Пояс

            .header-menu
                .header-menu__item
                    button.header-menu__item-icon
                        +ico('catalog')
                    .header-menu__item-text
                        .header-menu__item-text-title Каталог продукции
                        .header-menu__item-text-subtitle 300 наименований
                .header-menu__item
                    button.header-menu__item-icon
                        +ico('contact')
                    .header-menu__item-text
                        .header-menu__item-text-title Связаться с нами
                        .header-menu__item-text-subtitle +7 (927) 133-33-37
                .header-menu__item
                    button.header-menu__item-icon
                        +ico('search')
                    .header-menu__item-text
                        .header-menu__item-text-title Поиск
                        .header-menu__item-text-subtitle По каталогу
                .header-menu__item
                    .header-menu__item-text
                        .header-menu__item-text-title Скачать прайс
                        .header-menu__item-text-subtitle PDF 15,MB
                    .header-menu__item-icon
                        +ico('arrow')
                .header-menu__burger
                    span
                    span
