.modal.fade.modal--form(role='dialog' id="modal-form" aria-hidden="true")
	.modal-dialog
		.modal-content
			button.close(type='button' data-dismiss='modal' aria-label='Close')
				+ico('close')
			.modal-title Написать нам
			.modal-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in pretium dui, eu fermentum nisi. Praesent eu fermentum leo, vel mollis quam. Duis sed ipsum tincidunt, imperdiet dui eu, condimentum urna. Nullam ut semper velit. Suspendisse malesuada sit amet purus vitae placerat. Aliquam eleifend volutpat odio non faucibus. Proin et semper justo, id dictum tellus. Donec eget ornare est. Mauris pretium ligula at mollis finibus. Duis auctor urna ut odio iaculis, sit amet gravida libero sodales. Aenean pulvinar ante non volutpat pretium.
			form.form(data-form="" method="post" action="form.php")
				.form-row.form-row--column
					label.form-field
						input(type="text" id="form_input-1" name="NAME" placeholder="Имя*" data-req="")
						.form-error Обязательное поле
					label.form-field
						input(type="text" id="form_input-2" name="EMAIL" placeholder="email*" data-req="")
						
					label.form-field
						input(type="text" data-phone="" id="form_input-3" name="PHONE" placeholder="+7 (___) ___ __ __*" data-req="")
						
					//label.form-field
						input(type="text" id="form_input-4" placeholder="Номер заказа")
						
					//label.form-field
						input(type="text" id="form_input-5" placeholder="Дата")

					label.form-field
						textarea(id="form_input-6" name="question" placeholder="Комментарий")
				.btn-group
					button.btn.btn--basic(type="submit") Отправить
				.form-note Нажимая кнопку «Отправить», вы соглашаетесь с политикой обработки персональных данных.
